{% extends 'main/main-base.html' %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block content %}
<div id="answer-question-page-container">
    <div class="card" id="question-details-card">
        <div class="card-body" id="question-details-card-body">
            <p>{{ question.content }}</p>
            {% if question.project_link %}
                <br>
                <p><a href="{{ question.project_link }}">Link to my project</a></p>
            {% endif %}
            <br>
            <p>-{{ question.author.first_name }} {{ question.author.last_name }}</p>
        </div>
    </div>
    {% if user != question.author %}
    <div>
        <h3>Add a comment</h3>
        <div class="card" id="answer-question-card">
            <div class="card-body" id="answer-question-card-body">
                <div id='answer-form'>
                    <form method="POST" class='answer-form'>
                        <fieldset class="form-group">
                            {% csrf_token %} 
                            {{ form|crispy }}
                        </fieldset>
                        <br>
                        <div class='form-group'>
                            <button class="btn btn-outline-success comment-button" type='submit' name='commentbutton'>Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}