{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card project-card">
    <div class="card-body project-card-body">
        <h1>{{ project.title }}</h1>
        <h3>{{ project.blurb }}</h3>
        <br>
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Project information</legend>
            <p>{{ project.description }}</p>
        </fieldset>
        <br>
    </div>
</div>
<a href="{% url 'users-deleteproject' project.pk %}">Delete project</a>
<br>
<a href="{% url 'users-myprojects' %}">Back to my projects</a>
{% endblock content %}