{% extends 'main/main-base.html' %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block content %}
<div class="card project-card">
    <div class="card-body project-card-body">
        <h1>{{ project.title }}</h1>
        {% if user == project.user %}
            <a href="{% url 'users-update-project' project.pk %}">Edit text</a>
            <a href="{% url 'users-add-link' project.pk %}">Edit link</a>
            <a href ="{% url 'users-add-video' project.pk %}">Add video</a>
            <a href ="{% url 'users-add-project-photo' project.pk %}">Add photo</a>
            <a href="{% url 'users-delete-project' project.pk %}">Delete project</a>
        {% endif %}
        <h3>{{ project.blurb }}</h3>
        {% if project.project_link %}
            <p><a href="{{ project.project_link }}">Link to my project</a></p>
        {% endif %}
        <br>
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Project description</legend>
            <p>{{ project.description }}</p>
            <br>
            <legend class='border-bottom mb-4'>Project media</legend>
            {% for project_video in project.project_videos.all %}
                <div class='video-div'>
                    {% video project_video.video '300x300' %}
                    {% if user == project.user %}
                        <br>
                        <a href="{% url 'users-confirm-delete-video' project.pk project_video.pk %}">Delete video</a>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
            {% for project_photo in project.project_photos.all %}
                <div class='project-photo-div'>
                    <image style='height:300px;width:300px;' src="{{ project_photo.image.url }}"></image>
                    {% if user == project.user %}
                        <br>
                        <a href="{% url 'users-confirm-delete-project-photo' project.pk project_photo.pk %}">Delete photo</a>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </fieldset>
        <br>
    </div>
</div>
{% if user == project.user %}
    <a href="{% url 'users-my-projects' %}">Back to My projects</a>
{% endif %}

<!--Comments section-->
{% if not comments %}
    <br><br>
    <h3 class="border-bottom mb-4">No comments yet...</h3>
{% else %}
    <br><br>
    <h3 class="border-bottom mb-4">Comments</h3>
    {% for comment in comments %}
        <b>{{ comment.author.first_name }} {{ comment.author.last_name }}</b>
        <p>{{ comment.content }}</p> 
        <br>
    {% endfor %}
{% endif %}
{% endblock content %}