{% extends 'main/main-base.html' %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block content %}
<div class="card project-card">
    <div class="card-body project-card-body">
        <h1>{{ project.title }}</h1>
        {% if user == project.user %}
            <a href="{% url 'users-update-project' project.pk %}">Edit text</a>
            <a href ="{% url 'users-add-video' project.pk %}">Add video</a>
            <a href ='#'>Add photo</a>
            <a href="{% url 'users-delete-project' project.pk %}">Delete project</a>
        {% endif %}
        <h3>{{ project.blurb }}</h3>
        {% if project.project_link %}
            <p><a href="{{ project.project_link }}">Link to my project</a></p>
        {% endif %}
        <br>
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Project description</legend>
            <p>{{ project.description }}</p>
            <br>
            <legend class='border-bottom mb-4'>Project media</legend>
            {% for project_video in project.project_videos.all %}
                <div class='video-div'>
                    {% video project_video.video '300x300' %}
                    <br>
                    {% if user == project.user %}
                        <a href="{% url 'users-confirm-delete-video' project.pk project_video.pk %}">Delete video</a>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
        <br>
    </div>
</div>
{% if user == project.user %}
    <a href="{% url 'users-my-projects' %}">Back to My projects</a>
{% endif %}
<br>
<a href="{{ request.META.HTTP_REFERER }}">Back to previous page</a>
{% endblock content %}