{% extends 'main/main-base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card project-card">
    <div class="card-body project-card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create project | <b>Step 1: Add project text</b></legend>
                {{ form|crispy }}
            </fieldset>
            <br>
            <div class='form-group'>
                <button class="btn btn-outline-success" type='submit'>Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}