{% extends 'main/main-base.html' %}
{% block content %}
<div id="return-title-container">
    <div id="return-title-container-left-div">
        <small><a href="{% url 'classroom-classroom-details' classroom.title classroom.pk %}">Back to {{ classroom.title }}</a></small>
    </div>
    <div id='return-title-container-center-div'>
        <h1 id="page-title">{{ classroom.title }} projects</h1>
    </div>
    <div id="return-title-container-right-div"></div>
</div>
<div class="project-topics-div">
    {% for project_topic in project_topics %}
        <!--<h1><a href= url 'classroom-classroom-main' class.title class.pk %}">{{ class.title}}</a></h1>-->
        <h1><a href="{% url 'classroom-projects-list' project_topic.pk %}">{{ project_topic.title }}</a></h1>
    {% endfor %}    
</div>
<br>
{% endblock content %}