{% extends 'main/main-base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card project-card">
    <div class="card-body project-card-body">
        <h1>{{ project.title }}</h1>
        <h3>{{ project.blurb }}</h3>
        {% if project.project_link %}
            <p><a href="{{ project.project_link }}">Link to my project</a></p>
        {% endif %}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Project information</legend>
            <p>{{ project.description }}</p>
        </fieldset>
        <br>
    </div>
</div>
{% if user == project.user %}
    <a href="{% url 'users-update-project' project.pk %}">Edit project</a>
    <br>
    <a href="{% url 'users-delete-project' project.pk %}">Delete project</a>
{% endif %}
<br>
<a href="{% url 'classroom-studentdetails' profile.pk %}">Back to student profile</a>
{% endblock content %}