{% extends 'main/main-base.html' %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block content %}
<div class="card project-card">
    <div class="card-body project-card-body">
        <h1>{{ project.title }}</h1>
        <h3>{{ project.blurb }}</h3>
        {% if project.project_link %}
            <p><a href="{{ project.project_link }}">Link to my project</a></p>
        {% endif %}
        <br>
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Project description</legend>
            <p>{{ project.description }}</p>
            <br>
            <legend class='border-bottom mb-4'>Project media</legend>
            {% for project_video in project.project_videos.all %}
                <div class='video-div'>
                    {% video project_video.video '300x300' %}
                </div>
            {% endfor %}
        </fieldset>
        <br>
    </div>
</div>
<a href="{% url 'classroom-student-details' profile.pk %}">Back to student profile</a>

{% if not comments %}
<br><br>
<h3>No comments yet...</h3>
<!--<a href=url 'add-comment' project.pk >Add Comment</a>-->
{% else %}
<br><br>
<h3>Comments</h3>
{% for comment in comments %}
    <b>{{ comment.author.first_name }} {{ comment.author.last_name }}</b>
    <p>{{ comment.content }}</p> 
    <a href="{% url 'classroom-update-comment' comment.pk %}">Edit</a>
    <a href="{% url 'classroom-delete-comment' comment.pk %}">Delete</a>
    <br>
{% endfor %}
<!--<a href= url 'add-comment' project.pk >Add Comment</a>-->
{% endif %}
<br>
{% if project.user != user %}
<h3>Add comment</h3>
<div class='register-login-profile-form'>
    <form method="POST" class='comment-form'>
        <fieldset class="form-group">
            {% csrf_token %} 
            {{ comment_form|crispy }}
        </fieldset>
        <br>
        <div class='form-group'>
            <button class="btn btn-outline-success comment-button" type='submit' name='commentbutton'>Add comment</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}