{% extends 'main/main-base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{ project.title }}</h1>
<div class="card create-project-card" id="edit-project-edit-text-card">
    <div class="card-body edit-project-card-body" id="edit-project-edit-text-card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit project text</legend>
                {{ form|crispy }}
            </fieldset>
            <br>
            <div class='form-group'>
                <button class="btn btn-outline-success" type='submit'>Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}